// -*- tab-width:8 -*-
// DeckDll: standalone and integrated deckbuilder.

#include <windows.h>

#include "resources.h"

#define NOSYS_DLG_STYLE		DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
#define DFLT_DLG_STYLE		NOSYS_DLG_STYLE | WS_SYSMENU
#define NOTAB_CTRL_STYLE	WS_CHILD | WS_VISIBLE
#define DFLT_CTRL_STYLE		NOTAB_CTRL_STYLE | WS_TABSTOP

1 VERSIONINFO
FILEVERSION	7,0,0,1
PRODUCTVERSION	3,0,0,0
FILEOS	VOS_NT_WINDOWS32
FILETYPE	VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"	// 0x0409 = US-English, 04B0 = Unicode
		{
			VALUE "CompanyName", "MicroProse Software"
			VALUE "FileDescription", "DeckBuilder DLL"
			VALUE "FileVersion", "7.0.0.1"
			VALUE "InternalName", "DeckDLL"
			VALUE "LegalCopyright", "Copyright (c) 1996-2016"
			VALUE "OriginalFilename", "DeckDLL.dll"
			VALUE "ProductName", "Manalink 3.0"
			VALUE "ProductVersion", "3.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04B0	// 0x0409 = US-English, 04B0 = Unicode
	}
END


RES_ICON ICON "deckdll.ico"


RES_ACCEL ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
	VK_F2,	RES_FULLCARDMENU_EXPAND,	VIRTKEY, NOINVERT
//	VK_F12,	4002,		VIRTKEY, NOINVERT	// Nothing listens for this message
}


RES_DIALOG_ASK_VALUE DIALOG	0,0,	114,61
CAPTION		""
FONT		9, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		DFLT_DLG_STYLE
{
	EDITTEXT		RES_ASKVALUE_EDITTEXT,	42,10,	30,12
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,		10,35,	35,14
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,	60,35,	45,14
}


RES_DIALOG_FILTER_LIST DIALOG	0,0,	164,216
CAPTION		""
FONT		9, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		DFLT_DLG_STYLE | WS_VISIBLE
{
	LISTBOX			RES_FILTERLIST_LISTBOX,		5,5,	155,135,	WS_TABSTOP | WS_BORDER | WS_VSCROLL | WS_HSCROLL | LBS_SORT | LBS_MULTIPLESEL | LBS_EXTENDEDSEL
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,			10,190,	65,14
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,		90,190,	65,14
	AUTOCHECKBOX	"",	RES_FILTERLIST_ENABLEFILTER,	5,145,	106,10
	PUSHBUTTON	"",	RES_FILTERLIST_SELECTALL,	10,165,	65,15
	PUSHBUTTON	"",	RES_FILTERLIST_CLEARALL,	90,165,	65,15
}


RES_DIALOG_DECKINFO DIALOGEX	0,0,	279,180
CAPTION		""
EXSTYLE		WS_EX_STATICEDGE
FONT		10, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		DFLT_DLG_STYLE
{
	EDITTEXT		RES_DECKINFO_DECKTITLE_EDITTEXT,	65,15,	185,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOHSCROLL
	EDITTEXT		RES_DECKINFO_DESCRIPTION_EDITTEXT,	65,30,	185,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOHSCROLL
	EDITTEXT		RES_DECKINFO_NAME_EDITTEXT,		65,45,	185,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOHSCROLL
	EDITTEXT		RES_DECKINFO_EMAIL_EDITTEXT,		65,60,	185,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOHSCROLL
	EDITTEXT		RES_DECKINFO_DATE_EDITTEXT,		65,75,	86,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOHSCROLL
	EDITTEXT		RES_DECKINFO_COMMENT_EDITTEXT,		65,105,	185,50,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_WANTRETURN | ES_AUTOVSCROLL | ES_MULTILINE
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,				60,160,	50,14
	RTEXT		"",	RES_DECKINFO_DECKTITLE,			5,15,	55,8
	RTEXT		"",	RES_DECKINFO_VERSION,			160,75,	25,10
	EDITTEXT		RES_DECKINFO_VERSION_EDITTEXT,		190,75,	60,12,	WS_TABSTOP | WS_BORDER | ES_LEFT | ES_AUTOHSCROLL | ES_READONLY
	RTEXT		"",	RES_DECKINFO_DESCRIPTION,		5,30,	55,8
	RTEXT		"",	RES_DECKINFO_NAME,			5,45,	55,8
	RTEXT		"",	RES_DECKINFO_EMAIL,			5,60,	55,8
	RTEXT		"",	RES_DECKINFO_DATE,			5,75,	55,10
	RTEXT		"",	RES_DECKINFO_COMMENT,			5,105,	55,10
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,			175,160,50,15
}


RES_DIALOG_DECKSTATS DIALOGEX	0,0,	270,179
CAPTION		""
EXSTYLE		WS_EX_STATICEDGE
FONT		12, "MS Sans Serif"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		DFLT_DLG_STYLE
{
}


RES_DIALOG_INFOBOX DIALOG	0,0,	219,151
CAPTION		""
FONT		9, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		NOSYS_DLG_STYLE
{
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,			25,130,	85,14
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,		135,130,60,14
	LTEXT		"",	RES_INFOBOX_DESCRIPTION,	20,15,	190,10
	LISTBOX			RES_INFOBOX_LIST,		25,30,	170,95,	WS_TABSTOP | LBS_STANDARD | LBS_NOINTEGRALHEIGHT
}


RES_DIALOG_GROUPMOVE DIALOG	0,0,	164,136
CAPTION		""
FONT		9, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		NOSYS_DLG_STYLE
{
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_BLACK,	45,15,	95,8,	WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_BLUE,	45,30,	95,8
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_GREEN,	45,45,	95,8
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_RED,	45,60,	95,8
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_WHITE,	45,75,	95,8
	AUTOCHECKBOX	"",	RES_GROUPMOVE_BUTTON_ARTIFACT,	45,90,	90,10
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,			10,110,	60,14,	WS_TABSTOP | WS_GROUP | BS_DEFPUSHBUTTON
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,		95,110,	60,14
}


RES_DIALOG_LOADDECK DIALOG	0,0,	342,94
CAPTION		""
FONT		9, "Trebuchet MS"
LANGUAGE	LANG_ENGLISH, SUBLANG_ENGLISH_US
STYLE		DFLT_DLG_STYLE | WS_VISIBLE
{
	LTEXT		"",	RES_LOADDECK_PLAYERDECK,	9,6,	47,19
	COMBOBOX		RES_LOADDECK_DECKLIST,		61,6,	259,120,	WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT
	DEFPUSHBUTTON	"",	RES_BUTTON_OK,			61,68,	50,14
	PUSHBUTTON	"",	RES_BUTTON_CANCEL,		131,69,	50,14
}
